
  h1 {
    text-align: center;
  }
  div {
    text-align: center;
  }
 
  *{
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
    background-color: #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Login {
    padding: 90px 75px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
  }
  .h {
    font-size: 40px;
    font-weight: bold;
  }
  #Login-input {
    display: block;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: #f2f3f5;
    outline: none;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
  }
  #dangnhap {
    padding: 25px;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: none;
    display: block;
    width: 100%;
    border-radius: 20px;
    background-color: #82c91e;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 600;
  }
  body {
    background-color: #82C91E;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  